body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #EBF0F5;
}

h1 {
  font-family: 'Anton';
  font-size: 7em;
  color: #fff;
}

h2 {
  font-family: 'Anton';
  font-size: 2em;
  color: #060813;
}

h3 {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.0;
    font-family: 'Anton';
    color: #060813;
  }

.body-text {
  font: 1em/1.5 'Roboto';
}

.body-text::after {
  content: "";
}
.spacer {
  height: 60px;
  width: 100%;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  margin: 10px;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font: 1em 'Roboto';
  transition: 0.5s;
}

.nav-link a:hover {
  color: #fff;
}

.fixed-top.scrolled {
  background-color: #060813 !important;
  transition: background-color 500ms ease-in-out;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

.cn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font: 1.5em 'Roboto';
  color: #fff;
}

.lead {
  font: 2em 'Roboto'400;
  color: #fff;
  letter-spacing: 3px;
}

nav .navbar-nav li a {
  color: #fff !important;
}

a {
  color: #004C6E;
}

a.bottom {
  position: relative;
}

a.bottom:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.bottom:hover:before {
  visibility: visible;
  width: 100%;
}

.card {
  border: none;
  width: 300px;
  -webkit-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.2);
}

.card-img {
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.card-title {
  font-family: 'Open Sans';
  font-size: 20px;
  color: #fff;
}

.card-title a {
  color: #fff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.card-title a:hover {
  font-size: 51px;
}

#section04  .card-body a {
  color: #1f1f1f;
}

#section04 .card-title {
  color: #1f1f1f;
}

.card-body a {
  color: #fff;
}

#mc-embedded-subscribe-form {
  background-color: transparent;
}

#mc_embed_signup {
  display: inline-block;
}

#mc_embed_signup input.email {
  padding: 13px;
  font-size: 15px;
  border-width: 1px;
  width: 300px;
  border-color: #CCCCCC;
  background-color: transparent;
  border-style: solid;
  border-radius: 23px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
  text-shadow: -50px 0px 0px rgba(66, 66, 66, .0);
}

#mc_embed_signup input.button {
  text-align: center;
  box-shadow: 0px 2px 13px -5px #000000;
  background-color: #2f9cd6;
  border-radius: 28px;
  display: inline-block;
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}

#mc_embed_signup input.button:hover {
  background-color: #88ccf1;
}

#mc_embed_signup input.button:active {
  position: relative;
  top: 1px;
}

#mc_embed_signup input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.8; /* Firefox */
}

#info h3 {
  font-size: 3em !important;
}
.arrow a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.arrow a:hover {
  opacity: .5;
}

#scroll a {
  padding-top: 60px;
}

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }

  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }

  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }

  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}



#section02 h3 {
  text-transform: uppercase;
  font-size: 6.5em;
  line-height: 1.0;
  font-family: 'Anton';
  color: #060813;
}

#section02 .btn {
  font-family: 'Anton';
  border-radius: 0%;
  border: 2px solid #060813;
  padding: 10px 20px;
  transition: 0.3s;
}

#section02 .btn:hover {
  background-color: #060813;
  color: #fff;
}

#section03 h3 {
  text-transform: uppercase;
  font-size: 6.5em;
  line-height: 1.0;
  font-family: 'Anton';
  color: #060813;
}

#section03 .btn {
  font-family: 'Anton';
  border-radius: 0%;
  border: 2px solid #060813;
  padding: 10px 20px;
  float: right;
  transition: 0.3s;
}

#section03 .btn:hover {
  background-color: #060813;
  color: #fff;
}

#section04 h2 {
  color: #fff;
}

#section04 .card {
  border: none;
  border-radius: 0;
  font-family: 'Anton';
}

#section04 .card-body {
  padding: 10px 30px;
}

#section04 a {
  color: #060813;
  transition: 0.3s;
}

#section04 a:hover {
  text-decoration: none;
  opacity: 0.7;
}

#footer {
  background-color: #060813;
  height: 200px;
}

#footer a {
  color: #fff;
  opacity: 0.5;
  transition: 0.3s;
}

#footer a:hover {
  opacity: 1;
  text-decoration: none;
}

/*ACT PAGE*/
#filters a {
  color: #7EBDC2;
  transition: 0.3s;
}

#filters a:hover {
  text-decoration: none;
  opacity: 0.7;
}

#filters .btn-primary {
  border-radius: 0px;
  border: none;
  background-color: #060813;
  transition: 0.3s;
}

#filters .btn-primary:hover {
  opacity: 0.7;
}

#actions .fas {
  margin-right: 10px;
}

#actions .card-title {
  font: 1.5em 'Anton';
  text-transform: uppercase;
}

#actions a:hover {
  text-decoration: none;
}

#intro a {
  color: #060813;
}

#modal .modal-content {
  border-radius: 0px;
  border: none;
}

#modal .btn {
  border-radius: 0px;
  border: none;
  background-color: #060813;
}

#modal .modal-socials {
  color: #d3d3d3;
}

#source {
  text-decoration: none;
  color: #060813;
  padding: 0 5px;
}
