.title {
  font: 8.5em 'Covered By Your Grace';
  color: #fff;
  line-height: 0.8;
  margin: 0.5em 0;
}

.nav-link {
  font-family: 'Open Sans';
  font-size: 1.1em;
  margin: 0 0.7em;
}

.lead {
  font: 2.0em 'Open Sans';
  color: #1f1f1f;
}

.subtitle {
  font: 1.5em 'Open Sans';
  color: #1f1f1f;
  padding: 0;
}

.body-text {
  font: 1.2em 'Open Sans';
  text-align: left;
  line-height: 1.4;
  color: #1f1f1f;
  font-weight: 500;
}

.clear {
  font-size: 1em;
  color: #d3d3d3;
  transition: 0.3s;
}
.clear:hover {
  color: #1f1f1f;
}
.btn-primary {
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: -50px 0px 0px rgba(66,66,66,.0);
  border: none;
	background-color:#FFA69E;
	border-radius:28px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 22px;
	text-decoration:none;
}

.btn-primary:hover {
  background-color: #ED6A5A;
}

.form-control {
  margin: 1em 0 0 0;
  border-radius: 15%/200%;
}

.form-control::-webkit-input-placeholder {
  opacity: 0.5;
}

.section-header {
  font-family: 'Covered By Your Grace';
  font-size: 80px;
  color: #FFA69E;
}

.card {
  border: none;
  width: 300px;
  -webkit-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.2);
}

.card-img {
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.card-title {
  font-family: 'Open Sans';
  font-size: 20px;
}

.card-title a {
  color: #fff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.card-title a:hover {
  font-size: 51px;
}

h6 {
  color: #fff;
}
