.title {
  font: 6em 'Fredoka One';
  color: #985277;
  line-height: 1.0;
}

.nav-link {
  font-size: 1.2em;
  margin: 0 1em;
  font-weight: bold;
}

.display-1 {
  font-family: 'Fredoka One';
  color: #985277;
}

.display-4 {
  font-family: 'Montserrat';
  font-size: 1.5em;
  padding: 10px;
}

.lead {
  font: 2.0em 'Montserrat';
  color: #1f1f1f;
}

.subtitle {
  font: 1.5em 'Montserrat';
  color: #1f1f1f;
  padding: 0;
}

.placeholder {
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}

.placeholder-prose {
  width: 100%;
  padding-top: 48%;
  background-color: #e3e3e3;
}
.circle-container {
  right: 0;
  bottom: 0;
}
.circle {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #88CCF1;
  -webkit-box-shadow: 7px 7px 5px -6px rgba(0,0,0,0.1);
  -moz-box-shadow: 7px 7px 5px -6px rgba(0,0,0,0.1);
  box-shadow: 7px 7px 5px -6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-text {
  font: 1.2em 'Montserrat';
  text-align: left;
  line-height: 1.4;
  color: #1f1f1f;
  font-weight: 500;
}

.action-title {
  font: 3em 'Montserrat'600;
  color: #985277;
}

.btn-primary {
  background-color: #ED6A5A;
  border: none;
  border-radius: 30%/50%;
}

.btn-primary:hover {
  background-color: #ED6A5A;
}

.form-control {
  margin: 1em 0 0 0;
  border-radius: 15%/200%;
}

.form-control::-webkit-input-placeholder {
  opacity: 0.5;
}

.section-header {
  font-family: 'Fredoka One';
  font-size: 80px;
  color: #ED6A5A;
  padding: 20px;
}

.row {
  margin: 20px 0;
}

.clear {
  background-color: transparent;
  color: #d3d3d3;
}

.card {
  width: 80%;
  height: 80%;
}

.card-img {
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.card-title {
  font-family: 'Montserrat';
  font-size: 20px;
}

.card-title a {
  color: #fff;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.card-title a:hover {
  font-size: 51px;
}

.checkbox {
  height: 50px;
  width: 50px;
  color: #985277;
  border: 5px solid #1f1f1f;
}

h6 {
  color: #fff;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: #1f1f1f;
  margin: 10px auto 20px auto;
}
