@media only screen and (max-width: 600px) {
  .navbar-toggler {
    border: none;
    color: #fff;
    opacity: 1;
  }

  .navbar-toggler:active {
    border: none;
  }

  .navbar-toggler:active {
    color: #fff;
    border: none;
    opacity: 1;
  }

  .title {
    font-size: 3em;
    padding: 10px;
  }

  .subtitle {
    font-size: 1em;
  }
  .bg {
  height: 100%;
  object-fit: cover;
  }

  .section-header {
    font-size: 2em;
  }
  .body-text {
    font-size: 1em;
    padding: 10px;
  }

  .page-header {
    text-align: center;
  }

  .action-item {
    font-size: 2em;
    line-height: 1.0;
  }
  .form-control {
    width: auto;
  }
  .btn {
    margin-left: 10px;
  }

  .name {
    font-size: 3em;
    margin-bottom: 10px;
  }

  .desktop-only {
    display: none;
  }

  .spacer {
    height: 130px;
  }

  h6 {
    font-size: 0.8em;
  }
}
